<launch>
  <arg name="robot" default="env/door"/>

  <include file="$(find mc_surfaces_visualization)/launch/surfaces_publisher.launch">
    <arg name="robot" value="$(arg robot)" />
  </include>

  <node name="joint_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mc_surfaces_visualization)/surfaces.rviz"/>
</launch>
