<launch>
  <arg name="robot" default="" />
  <arg name="publish" default="false" />
  <arg name="tf_prefix" default="" />

  <param name="tf_prefix" value="$(arg tf_prefix)" />

  <node name="surfaces_publisher" pkg="mc_surfaces_visualization" type="surfaces_publisher" output="screen">
    <param name="robot" value="$(arg robot)" />
    <param name="publish" value="$(arg publish)" />
  </node>
</launch>
