<launch>
  <arg name="robot" />
  <arg name="env" default="ground" />
  <arg name="display_surfaces" default="false" />
  <arg name="display_convex" default="false" />

  <include file="$(find mc_scenario)/robot/$(arg robot).xml" ns="control" />
  <include file="$(find mc_scenario)/env/$(arg env).xml" ns="control/env_1" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mc_rtc_ticker)/launch/display.rviz"/>

  <group if="$(arg display_surfaces)">
    <include file="$(find mc_surfaces_visualization)/launch/surfaces_publisher.launch" ns="control">
      <arg name="robot" value="robot/$(arg robot)" />
      <arg name="tf_prefix" value="control" />
    </include>
    <include file="$(find mc_surfaces_visualization)/launch/surfaces_publisher.launch" ns="control/env_1">
      <arg name="robot" value="env/$(arg env)" />
      <arg name="tf_prefix" value="control/env_1" />
    </include>
  </group>

  <group if="$(arg display_convex)">
    <include file="$(find mc_convex_visualization)/launch/convex_publisher.launch" ns="control">
      <arg name="robot" value="robot/$(arg robot)" />
      <arg name="tf_prefix" value="control" />
    </include>
    <include file="$(find mc_convex_visualization)/launch/convex_publisher.launch" ns="control/env_1">
      <arg name="robot" value="env/$(arg env)" />
      <arg name="tf_prefix" value="control/env_1" />
    </include>
  </group>
</launch>
