Source: mc-rtc-ros
Priority: optional
Maintainer: Pierre Gergondet <pierre.gergondet@gmail.com>
Standards-Version: 3.9.5
Section: misc
Homepage: https://github.com/jrl-umi3218/mc_rtc_msgs
Vcs-git: https://github.com/jrl-umi3218/mc_rtc_msgs
Vcs-Browser: https://github.com/jrl-umi3218/mc_rtc_msgs
Build-Depends: debhelper (>= 9),
               cmake,
               qt5-default,
               libqwt-qt5-dev,
# ros-@ROS_DISTRO@-mc-rtc-plugin,
# ros-@ROS_DISTRO@-rviz,
# ros-@ROS_DISTRO@-tf,
               libmc-rtc-dev


Package: mc-rtc-gui
Architecture: any
Section: science
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: mc-rtc - Stand-alone GUI
 This package contains a ROS-free GUI for mc_rtc
