#!/usr/bin/make -f
# -*- makefile -*-

SRC:=$(CURDIR)
TMP:=$(CURDIR)/debian/tmp

export ROS_DISTRO:=@ROS_DISTRO@
export ROS_VERSION:=$(shell . /opt/ros/${ROS_DISTRO}/setup.sh && echo $$ROS_VERSION)
export ROS_PYTHON_VERSION:=$(shell . /opt/ros/${ROS_DISTRO}/setup.sh && echo $$ROS_PYTHON_VERSION)
ifeq (${ROS_PYTHON_VERSION}, 3)
	export PYTHONPATH:=/opt/ros/${ROS_DISTRO}/lib/python3/dist-packages:${PYTHONPATH}
	export PYTHONPATH:=/opt/ros/${ROS_DISTRO}/lib/python$(shell python3 -c "import sys; print(f'{sys.version_info.major}.{sys.version_info.minor}');")/site-packages:${PYTHONPATH}
	export PYTHONPATH:=/opt/ros/${ROS_DISTRO}/local/lib/python$(shell python3 -c "import sys; print(f'{sys.version_info.major}.{sys.version_info.minor}');")/dist-packages:${PYTHONPATH}
	export PYTHON_EXECUTABLE:=/usr/bin/python3
else
	export PYTHONPATH:=/opt/ros/${ROS_DISTRO}/lib/python2.7/dist-packages:${PYTHONPATH}
	export PYTHON_EXECUTABLE:=/usr/bin/python
endif
export PKG_CONFIG_PATH:=/opt/ros/${ROS_DISTRO}/lib/pkgconfig:$PKG_CONFIG_PATH
export ROS_MASTER_URI:=http://localhost:11311
export ROS_PACKAGE_PATH:=/opt/ros/${ROS_DISTRO}/share
export LD_LIBRARY_PATH:=/opt/ros/${ROS_DISTRO}/lib:$LD_LIBRARY_PATH
export CMAKE_PREFIX_PATH:=/opt/ros/${ROS_DISTRO}:$CMAKE_PREFIX_PATH
# Default CMake options for Debian packaging
export CMAKE_OPTIONS:=-DCMAKE_BUILD_TYPE=None -DCMAKE_EXPORT_NO_PACKAGE_REGISTRY=ON -DCMAKE_FIND_PACKAGE_NO_PACKAGE_REGISTRY=ON "-GUnix Makefiles" -DCMAKE_VERBOSE_MAKEFILE=ON -DCMAKE_AUTOGEN_VERBOSE=ON
export CMAKE_OPTIONS:=${CMAKE_OPTIONS} -DCMAKE_INSTALL_PREFIX=/opt/ros/${ROS_DISTRO} -DPYTHON_EXECUTABLE=${PYTHON_EXECUTABLE}


%:
	dh $@

override_dh_auto_configure:
	cmake -S $(SRC)/mc_rtc_ticker -B $(SRC)/build/mc_rtc_ticker ${CMAKE_OPTIONS}
	cmake -S $(SRC)/mc_rtc_rviz_panel -B $(SRC)/build/mc_rtc_rviz_panel ${CMAKE_OPTIONS}

override_dh_auto_build:
	cmake --build $(SRC)/build/mc_rtc_ticker
	cmake --build $(SRC)/build/mc_rtc_rviz_panel

override_dh_auto_install:
	cd $(SRC)/build/mc_rtc_ticker && make -j1 install DESTDIR=$(TMP) AM_UPDATE_INFO_DIR=no
	cd $(SRC)/build/mc_rtc_rviz_panel && make -j1 install DESTDIR=$(TMP) AM_UPDATE_INFO_DIR=no

override_dh_auto_test:
