<launch>
  <arg name="robot" default="hrp2_drc"/>
  <arg name="env" default="ground" />

  <include file="$(find mc_scenario)/robot/$(arg robot).xml" />
  <include file="$(find mc_scenario)/env/$(arg env).xml" ns="env" />

  <node name="mc_sequence_visualization" pkg="mc_sequence_visualization" type="sequence_visualization_gui.py" output="screen"/>
</launch>
